.farmer-list {
    margin: 2rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 0.5rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  input[type="password"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  
  button[type="submit"] {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #0077cc;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 2rem;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }
  
  th {
    background-color: #0077cc;
    color: white;
  }
  
  .edit-button, .delete-button {
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #0077cc;
    color: white;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #cc0000;
  }
  .farmer-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .farmer-card {
    width: 48%;
    margin-bottom: 20px;
  }

  .encrypted-password {
    display: hidden;
    -webkit-text-security: disc; /* for Safari */
    -moz-text-security: disc; /* for Firefox */
    -ms-text-security: disc; /* for Edge */
    -text-security: disc; /* for Chrome */
  }
  