.farmer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.farmer-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 2 * (340px); 
}

.farmer-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 340px; 
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.edit-button,
.delete-button,
.view-button {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background: #4caf50;
  border: none;
}

.delete-button {
  background: #f44336;
  border: none;
}

.view-button {
  background: #2196f3;
  border: none;
}

.add-farmer-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button[type="submit"],
button[type="button"] {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #2196f3;
  border: none;
  cursor: pointer;
}
